* {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 0.9em;
}

body {
    background-color: #f4f4f4;
}

.hdr {
    height: 70px;
    padding: 0 8px;
}

.hdr a {
    margin: 0 3px;
}

.logo-header {
    height: 60px;
}

.botao--voltar {
    font-size: 1.5em;
    margin-left: 10px;
}

#container-main {
    max-width: 85%;
    margin: 30px auto;
    padding: 0.8rem;
}

#Titulo-Principal {
    padding-top: 20px;
    font-size: 1.2em;
}

#container-elementos {
    gap: 1rem;
    margin-top: 0.8rem;
}

.elementos--itens {
    gap: 5px;
    max-width: 350px;
    height: 40px;
    padding: 4px 8px;
}

.elementos--itens input {
    font-size: 0.9em;
    height: 35px;
}

.elementos--itens i {
    font-size: 1.2em;
}

.elementos--itens select {
    height: 30px;
    font-size: 0.8em;
    padding: 0 8px;
}

.button {
    margin-top: 25px;
}

.button button {
    padding: 4px 70px;
    font-size: 1em;
}
