ul.coluna {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute; 
    left: 0;
    top: 0; 
    background-color: black;
    width: 200px; 
    height: 150vh; 
}

li a,.colunabtn{
    display: inline-block;
    color: white;
    position: absolute; 
    left: 0;
    text-align: left;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

li {
    padding: 20px;
}

.button-coluna {
    width: 100px; 
    height: 100px; 
    font-weight: bold;
    font-size: 15px; 
    border: none;
    background-color: black;
    margin-top: 50px; 
    margin-left: 55px; 
}

.button-coluna > a {
    text-decoration: none;
    color: white;
}

.last-button-coluna > a {
    text-decoration: none;
    color: white;
}

.button-coluna:hover {
    background-color: black;
}

.last-coluna:hover {
    background-color: black;
}

.first-four-buttons-coluna {
    width: 50%;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: left;
}

li a:hover,.colunas:hover.colunabtn{
    background-color: gray;
}
li.colunas{
    display: inline-block;
}
