* {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.hdr {
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.hdr a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.logo-header {
    height: 80px;
}

.botao--voltar {
    font-size: 2.1em;
    margin-left: 16px;
    cursor: pointer;
}

#Titulo-Principal {
    text-align: center;
    padding-top: 20px;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.elementos--itens {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
    background-color: #f4f4f4;
    border: 2px solid black;
    border-radius: 20px;
    height: 45px;
    max-width: 400px;
    margin: 0 auto 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.elementos--itens input {
    background-color: transparent;
    border: none;
    font-size: 16px;
    height: 100%;
    width: 300px;
    padding-left: 10px; 
}

.elementos--itens input:focus {
    outline: none;
    border-bottom: 2px solid #007bff; 
}

.elementos--itens i {
    font-size: 1.5em;
}

.icon-btn {
    background-color: #484b4e;
    border: none;
    border-radius: 50%;
    padding: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: 30px;
}

.icon-btn i {
    font-size: 1.2em; 
    color: white; 
}

.icon-btn:hover {
    background-color: #000000; 
    transform: scale(1.1); 
}

#container-elementos {
    height: 60px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.elementos {
    height: 40px;
    width: 150px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 1em;
}

#lista-elementos {
    height: 60px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
    position: relative; /* Permite o posicionamento dos ícones */
}

.elementos-lista {
    height: 40px;
    width: 150px;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 1em;
    border: 1px solid black;
    position: relative;
}

.icons {
    display: flex;
    gap: 10px;
    position: absolute;
    right: -60px; /* Movendo os ícones para fora da caixa */
    top: 50%;
    transform: translateY(-50%);
}

.icons i {
    font-size: 1.5em;
    cursor: pointer;
}

.icons i.fa-trash {
    color: red;
}

@media (max-width: 768px) {
    #container-elementos,
    #lista-elementos {
        flex-direction: column;
        align-items: stretch;
    }

    .elementos,
    .elementos-lista {
        width: 100%;
        margin: 10px 0;
    }

    .icons {
        position: static;
        transform: none;
        margin-top: 10px;
        justify-content: center;
    }
}