/* Reset e configuração geral */
* {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
.hdr {
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.hdr a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.hdr a:hover {
    background-color: #333;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

.logo-header {
    height: 80px;
}

.logo-header:hover {
    cursor: pointer;
}

.botao--voltar {
    font-size: 2.1em;
    margin-left: 16px;
    cursor: pointer;
}

/* Contato */
.contact-container {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.contact-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.contact-buttons a {
    display: flex; /* Flexbox para alinhar ícone e texto */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 5px;
    gap: 8px; /* Espaço entre o ícone e o texto */
    transition: background-color 0.3s, transform 0.3s;
}

.btn-whatsapp {
    background-color: #25d366;
}

.btn-whatsapp:hover {
    background-color: #1da851;
    transform: scale(1.05);
}

.btn-email {
    background-color: #007bff;
    display: flex;
}

.btn-email:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Suporte */
.support-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.support-container label {
    display: block;
    font-size: 1em;
    margin-bottom: 10px;
    color: black;
}

.support-container textarea {
    width: 100%;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    font-size: 1em;
    resize: none;
    height: 150px;
    margin-bottom: 20px;
}

.support-container textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.support-container button {
    background-color: black;
    color: white;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.support-container button:hover {
    background-color: #333;
    transform: scale(1.05);
}
